<div class="clearFix text-center custom-text">
<p>Are you trying hard to find the right people to the right job positions?</p>
<p>Get help and find someone to hire great people for you.</p>
</div>
</br>

<div id="intro" class="clearFix text-center custom-text" align="center" style="margin: 0 auto;">
	<p>Interested? Let us know.</p>
</div>
	<div class="row">
		<div class="span6"><%= render 'users/company_form' %></div>
		<div class="span6"><%= render 'users/recruiter_form' %></div>
	</div>