<div class="clearFix text-center custom-text">
<p>Está complicado encontrar a pessoa certa para suas vagas?</p>
<p>Contrate um especialista em recrutamento </br>e aproveite seu tempo com coisas melhores.</p>
</div>
</br>

<div id="intro" class="clearFix text-center custom-text" align="center" style="margin: 0 auto;">
	<p>Interessado?</p>
</div>
	<div class="row">
		<div class="span6"><%= render 'users/company_form' %></div>
		<div class="span6"><%= render 'users/recruiter_form' %></div>
	</div>